body {
    background: radial-gradient(circle, #4a4a4a, #1e1e1e);
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

ul, li {
    list-style-type: none;
}

.player-hand-cards  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgba(255, 255, 255, 0.1);
}

.card {
    position: relative;
    padding: 8px;
    width: 100px;
    height: 140px;
    background-color: white;
    margin-right: 10px;
    
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-content {
    border: 1px solid #000;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon {
    font-size: 50px;
}

.suit {
    position: absolute;
    font-size: 20px;
    background-color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.top-left {
    top: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.Spades, .Clubs {
    color: black;
}

.Spades .card-content, .Clubs .card-content {
    border-color: black;
}

.Hearts, .Diamonds {
    color: red;
}

.Hearts .card-content, .Diamonds .card-content {
    border-color: red;
}

.card-hidden, .card-hidden .suit {
    background-color: #333;
    color: #706f6f;
}

.card-hidden .card-content {
    color: #706f6f;
}

.player-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #d35400;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #b33e00, 0 6px 20px rgba(0, 0, 0, 0.19);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
}

.action-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
}

.action-button:hover::before {
    transform: scale(4);
}

.action-button:active {
    transform: scale(0.95);
}

.action-button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8), 0 0 0 4px #d35400;
}

